table {
    border-collapse: collapse;
    /* width: 100%; */
  }
  
  th,
  td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 32px;
  }
  
  th {
    background-color: #5e9d73;
  }
  
  td {
    background-color: #b8edc3;
  }
  
.tableTodo{
    margin: auto;
}

  /* form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 28px;
  } */